# dependencies (bun install)
node_modules

# output
out
dist
*.tgz


# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.*
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*

# Testing and code coverage output
.nyc_output
coverage
*/cypress/downloads

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
